@tailwind base;
@tailwind components;
@tailwind utilities;

.error {
    border: 1px solid red;
}
.error-message {
    color: red;
    font-size: 14px;
}

.text {
    &-clamp {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        &-1 {
            -webkit-line-clamp: 1;
        }
        &-2 {
            -webkit-line-clamp: 2;
        }
        &-3 {
            -webkit-line-clamp: 3;
        }
    }
}
:focus {
    outline: #0b5ed7 solid 2px;
    outline-offset: 1px;
}

.header {
    padding: 15px;
    .title {
        font-size: 25px;
    }
}

.btn {
    width: auto;
    
    &-sm {
        padding: 5px;
        font-size: 10px;
    } 
    &-md {
        padding: 10px;
        font-size: 20px;
    }   
    &-lg {
        padding: 20px;
        font-size: 30px;
    }     
    &-default {
        background-color: #0b5ed7;
        color: white;
    }

    &-default:hover {
        background-color: white;
        color: #0b5ed7;
        border:2px solid #0b5ed7;
    }

    &-primary {
        background-color:black;
        color: white;
    }
    &-primary:hover {
        background-color: white;
        color: black;
        border: 2px solid black;
    }

    &-warning {
        background-color: coral;
        color: white;
    }
    &-warning:hover {
        background-color: white;
        color: coral;
        border: 2px solid coral;
    }
}
